/ .iwadown-masthead
/   .container
/     .row
/       .col-xs-12
/         %nav.iwadown-nav
/           %a.iwadown-nav-item.active{:href => "/"} iWadown
/           = form_tag search_events_path, class: "navbar-form", method: "get" do
/             .form-group
/               = search_field_tag(:search_term, params[:search_term], placeholder: "找活動", class: "form-control")
/               = submit_tag("Search", class: "btn btn-default")

%section#top-header.row
  .container
    %h1.col-md-2
      = link_to "iWadown"    
    %form.col-md-5.navbar-form(action="")
      .form-group
        %input.form-control(type="text" placeholder="找活動")
      %button.btn.btn-default(type="submit") Search
    / .dropdown
    /   %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
    /     來看活動
    /     %b.caret
    /     / %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
    /     /   %li
    /     /     %a(href="#")
    /     /     %a(href="#")
    /     /     %a(href="#")
    .user-links#user_links.pull-right      
      %ul
        - if logged_in?          
          %li.dropdown
            %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
              Welcome, #{current_user.username}
              %b.caret
            %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
              %li
                = link_to "登出", logout_path, method: :delete
        - else
          %li.new-event
            = link_to "登入"
          %li.new-event
            = link_to "註冊"
        %li.new-event
          = link_to "來辦活動", new_event_path